<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AFServerSection" requirePermission="false" type="Architecture.Foundation.DataAccessor.Configuration.Server.AFServerSection, Architecture.Foundation.DataAccessor" />
    <section name="AFDatabaseSection" requirePermission="false" type="Architecture.Foundation.DataAccessor.Configuration.Database.AFDatabaseSection, Architecture.Foundation.DataAccessor" />
  </configSections>

  
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <AFServerSection>
    <Elements>
      <add Order="1" ServerName="localhost" />
      <add Order="2" ServerName="localhost" />
    </Elements>
  </AFServerSection>

  <AFDatabaseSection>
    <Elements>
      <add Name="AF" InitialCatalog="database name" UserID="user id" Password="password" />
    </Elements>
  </AFDatabaseSection>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFTransactionbehavior" name="AF.Transaction.Service.WCFTransactionDemo">
        <endpoint address="http://localhost/AF.Transaction.Service/WCFTransactionDemo.svc" binding="basicHttpBinding" contract="AF.Transaction.Service.IWCFTransactionDemo">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>


    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFTransactionbehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
